body {
  background-color: skyblue;
}
div img {
  background-color: aliceblue;
  display: block;
  margin: 0 auto;
  width: 400px;
  border-radius: 5000px;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: white;
}
div h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
div p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
div a {
  display: inline-block;
  justify-content: center;
  margin-right: 100px;
  background-color: aliceblue;
  width: 100px;
  padding-top: 3px;
  box-sizing: border-box;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  width: 150px;
  text-align: center;
}
